# 15.6. Numerical Diagnostics

In [1]:
import numpy as np
from datascience import *
import matplotlib.pyplot as plt
import matplotlib.pyplot as plots
%matplotlib inline

path_data = '../../data/'

In [2]:
def standard_units(any_numbers):
    "Convert any array of numbers to standard units."
    return (any_numbers - np.mean(any_numbers))/np.std(any_numbers)  

def correlation(t, x, y):
    return np.mean(standard_units(t.column(x))*standard_units(t.column(y)))

def slope(table, x, y):
    r = correlation(table, x, y)
    return r * np.std(table.column(y))/np.std(table.column(x))

def intercept(table, x, y):
    a = slope(table, x, y)
    return np.mean(table.column(y)) - a * np.mean(table.column(x))

def fit(table, x, y):
    """Return the height of the regression 
    line at each x value."""
    a = slope(table, x, y)
    b = intercept(table, x, y)
    return a * table.column(x) + b

def residual (table, x, y):
    return table.column(y) - fit(table, x, y)

## 15.6.1. Residual Plots Show No Trend

**For every linear regression, whether good or bad, the residual plot shows no trend. Overall, it is flat. In other words, the residuals and the predictor variable are uncorrelated.**

You can see this in all the residual plots above. We can also calculate the correlation between the predictor variable and the residuals in each case.

In [10]:
# heights = Table().read_table(path_data + 'baby.csv')   ### wrong dataset
heights = Table().read_table(path_data + 'family_heights.csv')
heights

family | father | mother | midparentHeight | children | childNum | sex    | childHeight
1      | 78.5   | 67     | 75.43           | 4        | 1        | male   | 73.2
1      | 78.5   | 67     | 75.43           | 4        | 2        | female | 69.2
1      | 78.5   | 67     | 75.43           | 4        | 3        | female | 69
1      | 78.5   | 67     | 75.43           | 4        | 4        | female | 69
2      | 75.5   | 66.5   | 73.66           | 4        | 1        | male   | 73.5
2      | 75.5   | 66.5   | 73.66           | 4        | 2        | male   | 72.5
2      | 75.5   | 66.5   | 73.66           | 4        | 3        | female | 65.5
2      | 75.5   | 66.5   | 73.66           | 4        | 4        | female | 65.5
3      | 75     | 64     | 72.06           | 2        | 1        | male   | 71
3      | 75     | 64     | 72.06           | 2        | 2        | female | 68
... (924 rows omitted)

In [11]:
### get the x, y
heights = Table().with_columns(
    'MidParent', heights.column('midparentHeight'),
    'childHeight', heights.column('childHeight')
)
heights

MidParent | childHeight
75.43     | 73.2
75.43     | 69.2
75.43     | 69
75.43     | 69
73.66     | 73.5
73.66     | 72.5
73.66     | 65.5
73.66     | 65.5
72.06     | 71
72.06     | 68
... (924 rows omitted)

In [19]:
### get the predicted y
### get the residual

heights = heights.with_columns(
    'Predicted', fit(heights, 'MidParent', 'childHeight'),
    # 'Residual', heights.column('childHeight') - fit(heights, 'MidParent', 'childHeight')
    'Residual', heights.column('childHeight') - heights.column('Predicted')
)
heights

MidParent | childHeight | Predicted | Residual
75.43     | 73.2        | 70.7124   | 2.48763
75.43     | 69.2        | 70.7124   | -1.51237
75.43     | 69          | 70.7124   | -1.71237
75.43     | 69          | 70.7124   | -1.71237
73.66     | 73.5        | 69.5842   | 3.91576
73.66     | 72.5        | 69.5842   | 2.91576
73.66     | 65.5        | 69.5842   | -4.08424
73.66     | 65.5        | 69.5842   | -4.08424
72.06     | 71          | 68.5645   | 2.43553
72.06     | 68          | 68.5645   | -0.564467
... (924 rows omitted)

In [22]:
### correlation between x and residual

correlation(heights, 'MidParent', 'Residual')

-2.7196898076470642e-16

In [27]:
### how about covariance?
### Cov(x, y) = mean((x - x-bar) (y - y-bar))
np.mean(
    (heights.column('MidParent') - np.mean(heights.column('MidParent'))) * 
    (heights.column('Residual') - np.mean(heights.column('Residual')))
    )

-1.6736552662443473e-15

In [33]:
dugong = dugong.with_columns(
       'Fitted Value', fit(dugong, 'Length', 'Age'),
       'Residual', residual(dugong, 'Length', 'Age')
)
round(correlation(dugong, 'Length', 'Residual'), 10)

0.0

## 15.6.2. Average of Residuals

**No matter what the shape of the scatter diagram, the average of the residuals is 0.**

This is analogous to the fact that if you take any list of numbers and calculate the list of deviations from average, the average of the deviations is 0.

In all the residual plots above, you have seen the horizontal line at 0 going through the center of the plot. That is a visualization of this fact.

As a numerical example, here is the average of the residuals in the regression of children’s heights based on midparent heights.

In [42]:
round(np.mean(heights.column('Residual')), 10)

0.0

The same is true of the average of the residuals in the regression of the age of dugongs on their length. The mean of the residuals is 0, apart from rounding error.

In [43]:
round(np.mean(dugong.column('Residual')), 10)

0.0

## 15.6.3. SD of the Residuals

**No matter what the shape of the scatter plot, the SD of the residuals is a fraction of the SD of the response variable. The fraction is sqrt(1 - r**2)**

SD of residuals = sqrt(1 - r**2) * SD of y

We will soon see how this measures the accuracy of the regression estimate. But first, let’s confirm it by example.

In the case of children’s heights and midparent heights, the SD of the residuals is about 3.39 inches.

In [35]:
np.std(heights.column('Residual'))

3.3880799163953426

That’s the same as sqrt(1 - r**2) times the SD of response variable:

In [41]:
# r = correlation(heights, 'MidParent', 'Child')    ### it should be chiledHeight, not Child
r = correlation(heights, 'MidParent', 'childHeight')
np.sqrt(1 - r**2) * np.std(heights.column('childHeight'))

3.3880799163953421

## 15.6.4. Another Way to Interpret r

We can rewrite the result above to say that no matter what the shape of the scatter plot,

In [45]:
correlation(heights, 'MidParent', 'childHeight')

0.32094989606395924

In [52]:
np.std(heights.column('Predicted')) / 
np.std(heights.column('childHeight'))

0.32094989606395957