# 10. Sampling and Empirical Distributions

- DS making conclusions based on the data in random samples
- random samples
- properties of large random samples.

In [4]:
from datascience import *
import numpy as np
path_data = '../../data/'     ### the trailing slash is required

In [5]:
table = Table.read_table(path_data + 'top_movies_2017.csv')
table

Title                            | Studio          | Gross     | Gross (Adjusted) | Year
Gone with the Wind               | MGM             | 198676459 | 1796176700       | 1939
Star Wars                        | Fox             | 460998007 | 1583483200       | 1977
The Sound of Music               | Fox             | 158671368 | 1266072700       | 1965
E.T.: The Extra-Terrestrial      | Universal       | 435110554 | 1261085000       | 1982
Titanic                          | Paramount       | 658672302 | 1204368000       | 1997
The Ten Commandments             | Paramount       | 65500000  | 1164590000       | 1956
Jaws                             | Universal       | 260000000 | 1138620700       | 1975
Doctor Zhivago                   | MGM             | 111721910 | 1103564200       | 1965
The Exorcist                     | Warner Brothers | 232906145 | 983226600        | 1973
Snow White and the Seven Dwarves | Disney          | 184925486 | 969010000        | 1937
... (190 rows omitted)

In [6]:
top1 = Table.read_table(path_data + 'top_movies_2017.csv')
top1

Title                            | Studio          | Gross     | Gross (Adjusted) | Year
Gone with the Wind               | MGM             | 198676459 | 1796176700       | 1939
Star Wars                        | Fox             | 460998007 | 1583483200       | 1977
The Sound of Music               | Fox             | 158671368 | 1266072700       | 1965
E.T.: The Extra-Terrestrial      | Universal       | 435110554 | 1261085000       | 1982
Titanic                          | Paramount       | 658672302 | 1204368000       | 1997
The Ten Commandments             | Paramount       | 65500000  | 1164590000       | 1956
Jaws                             | Universal       | 260000000 | 1138620700       | 1975
Doctor Zhivago                   | MGM             | 111721910 | 1103564200       | 1965
The Exorcist                     | Warner Brothers | 232906145 | 983226600        | 1973
Snow White and the Seven Dwarves | Disney          | 184925486 | 969010000        | 1937
... (190 rows omitted)

In [7]:
##### num_rows: https://www.data8.org/su21/python-reference.html
##### Compute the number of rows in a table
top2 = top1.with_column('Row Index', np.arange(top1.num_rows))
top2

Title                            | Studio          | Gross     | Gross (Adjusted) | Year | Row Index
Gone with the Wind               | MGM             | 198676459 | 1796176700       | 1939 | 0
Star Wars                        | Fox             | 460998007 | 1583483200       | 1977 | 1
The Sound of Music               | Fox             | 158671368 | 1266072700       | 1965 | 2
E.T.: The Extra-Terrestrial      | Universal       | 435110554 | 1261085000       | 1982 | 3
Titanic                          | Paramount       | 658672302 | 1204368000       | 1997 | 4
The Ten Commandments             | Paramount       | 65500000  | 1164590000       | 1956 | 5
Jaws                             | Universal       | 260000000 | 1138620700       | 1975 | 6
Doctor Zhivago                   | MGM             | 111721910 | 1103564200       | 1965 | 7
The Exorcist                     | Warner Brothers | 232906145 | 983226600        | 1973 | 8
Snow White and the Seven Dwarves | Disney          | 184925486 | 969010000        | 1937 | 9
... (190 rows omitted)

In [8]:
##### Table.move_to_start(column_label): Move a column to be the first column.
##### https://www.data8.org/datascience/tables.html
top = top2.move_to_start('Row Index')
top

Row Index | Title                            | Studio          | Gross     | Gross (Adjusted) | Year
0         | Gone with the Wind               | MGM             | 198676459 | 1796176700       | 1939
1         | Star Wars                        | Fox             | 460998007 | 1583483200       | 1977
2         | The Sound of Music               | Fox             | 158671368 | 1266072700       | 1965
3         | E.T.: The Extra-Terrestrial      | Universal       | 435110554 | 1261085000       | 1982
4         | Titanic                          | Paramount       | 658672302 | 1204368000       | 1997
5         | The Ten Commandments             | Paramount       | 65500000  | 1164590000       | 1956
6         | Jaws                             | Universal       | 260000000 | 1138620700       | 1975
7         | Doctor Zhivago                   | MGM             | 111721910 | 1103564200       | 1965
8         | The Exorcist                     | Warner Brothers | 232906145 | 983226600        | 1973
9         | Snow White and the Seven Dwarves | Disney          | 184925486 | 969010000        | 1937
... (190 rows omitted)

## Sampling Rows of a Table

- each row is a movie
- sampling rows == sampling movies
- columns (labels) are values of variables (attributes, measures)

## Deterministic Samples


- "deterministic samples" are sample selection without chance/randomness/probability
- deterministic samples are not random samples.

In [9]:
##### for example, you may use the "take" method/function of np: https://www.data8.org/su21/python-reference.html
##### first seen in 6.2: tables https://inferentialthinking.com/chapters/06/2/Selecting_Rows.html
##### tbl.take() takes indices of array or integer; e.g., take(:INTEGER) or take(np.arange()) or take(make_array(INTEGERS))
##### we arbitarily choose 3 rows
top.take(make_array(3, 18, 100))   ### row 3, 18, 100
# top.take(np.arange(0, 3))        ### this gives the first 3 rows

Row Index | Title                       | Studio      | Gross     | Gross (Adjusted) | Year
3         | E.T.: The Extra-Terrestrial | Universal   | 435110554 | 1261085000       | 1982
18        | The Lion King               | Buena Vista | 422783777 | 792511700        | 1994
100       | The Hunger Games            | Lionsgate   | 408010692 | 452174400        | 2012

In [11]:
##### or, use where()
top
top.where('Title', are.containing('Harry'))   ### missing 2010 Harry Potter and the Deathly Hallows: Part 1

Row Index | Title                                       | Studio          | Gross     | Gross (Adjusted) | Year
74        | Harry Potter and the Sorcerer's Stone       | Warner Brothers | 317575550 | 497066400        | 2001
114       | Harry Potter and the Deathly Hallows Part 2 | Warner Brothers | 381011219 | 426630300        | 2011
131       | Harry Potter and the Goblet of Fire         | Warner Brothers | 290013036 | 401608200        | 2005
133       | Harry Potter and the Chamber of Secrets     | Warner Brothers | 261988482 | 399302200        | 2002
154       | Harry Potter and the Order of the Phoenix   | Warner Brothers | 292004738 | 377314200        | 2007
175       | Harry Potter and the Half-Blood Prince      | Warner Brothers | 301959197 | 359788300        | 2009
177       | Harry Potter and the Prisoner of Azkaban    | Warner Brothers | 249541069 | 357233500        | 2004

## Probability Samples

- **population**: the set of all elements from whom a sample will be drawn
- **probability sample**: one for which it is possible to calculate, before the sample is drawn, the chance with which any subset of elements will enter the sample
- **is probability sampling random sampling?**
  - samples are selected using a random selection based on a probability theory.
  - samples in the population has a known (may not be equal) chance of getting selected.
- types of probability sampling:
  - simple random sampling (SRS)
  - stratified random sampling (the population is divided into homogeneous, mutually exclusive groups called strata, and then independent samples are selected from each stratum.)
  - cluster sampling (divide population into clusters/groups; randomly select the clusters and include all members in the clusters chosen)
  - systematic sampling (e.g., every Kth sample)

## A Random Sampling Scheme

Example of sampling 2 from a population of 3: A, B, & C, following the scheme of:

- Person A is chosen with probability 1.
- One of Persons B or C is chosen according to the toss of a coin: if the coin lands heads, you choose B, and if it lands tails you choose C.

The difference in the probability of being chosen are known and quantified and therefore taken into account.

## A Systematic Sample
(every Kth sample)

In [23]:
##### Choose a random start among rows 0 through 9; then take every 10th row.
start = np.random.choice(np.arange(10))   ### range is 0 to 9 inclusive; choose one randomly each time
start

9

In [27]:
##### apply the 
top.take(np.arange(start, top.num_rows, 10))

##### stepping (K-th) is clearly seen
##### this is a probability sampling, "random selection based on a probability theory"

Row Index | Title                            | Studio         | Gross     | Gross (Adjusted) | Year
9         | Snow White and the Seven Dwarves | Disney         | 184925486 | 969010000        | 1937
19        | The Sting                        | Universal      | 156000000 | 792480000        | 1973
29        | Thunderball                      | United Artists | 63595658  | 664972000        | 1965
39        | Home Alone                       | Fox            | 285761243 | 602157000        | 1990
49        | Bambi                            | RKO            | 102247150 | 566403700        | 1942
59        | The Greatest Showman on Earth    | Paramount      | 36000000  | 533400000        | 1952
69        | Tootsie                          | Columbia       | 177200000 | 505876000        | 1982
79        | Rocky                            | United Artists | 117235147 | 489305400        | 1976
89        | One Flew Over the Cuckoo's Nest  | United Artists | 108981275 | 477262800        | 1975
99        | Duel in the Sun                  | Selz.          | 20408163  | 453571400        | 1946
... (10 rows omitted)

## Random Samples Drawn With or Without Replacement

Two sampling methods used in this course:
- random sampling **with replacement** (default behavior of np,.,random.choice())
- simple random sample (SRS) **without replacement**


np.random.choice(): https://www.data8.org/su21/python-reference.html
- np.random.choice(array, n) 
- np.random.choice(array) 
- np.random.choice(array, n, replace)

## Convenience Samples

Not random sampling but "*sample of convenience*"