## CH03.4 Tables
We want to learn how to create a table. We will go back to numpy later for array but tables give us a good sense of how data looks like.
You tasks are:
1. Modify the cones table into a cars table with 10 rows of data, e.g., 'make', ['Ford', 'Toyota'], 
    'model', ['Escape', 'Highlander'], 
    'year', ['2000', 2008], 
    'price', [7500, 5500]
2. Show that you know how to use the show(), select(), and drop() methods to manipulate this table.

In [1]:
### import the table section of the datascience module (library)
import numpy as np
# import datascience as ds

# from datascience import *

from datascience import Table 
from datascience.util import make_array   ### arrays; not used today

In [2]:
# use the with_columns method to create the table
Table().with_columns(
    'Flavor', ['strawberry', 'chocolate', 'chocalate', 'strawberry', 'chocolate', 'bubblegum'], 
    'Color', ['pink', 'light brown', 'dark brown', 'pink', 'dark brown', 'pink'], 
    'Price',[3.55, 4.75, 5.25, 5.25, 5.25, 475])

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocalate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 475

In [13]:
# save table to a variable
cones = Table().with_columns(
    'Flavor', ['strawberry', 'chocolate', 'chocolate', 'strawberry', 'chocolate', 'bubblegum'], 
    'Color', ['pink', 'light brown', 'dark brown', 'pink', 'dark brown', 'pink'], 
    'Price',[3.55, 4.75, 5.25, 5.25, 5.25, 475])

In [14]:
cones.show(3)

In [15]:
sum(cones.where('Flavor', 'chocolate').column(2))

15.25

In [12]:
cones.select('Flavor')

Flavor
strawberry
chocolate
chocalate
strawberry
chocolate
bubblegum

In [13]:
cones.select('Flavor')

Flavor
strawberry
chocolate
chocalate
strawberry
chocolate
bubblegum

In [14]:
cones.select('Flavor', 'Price')

Flavor     | Price
strawberry | 3.55
chocolate  | 4.75
chocalate  | 5.25
strawberry | 5.25
chocolate  | 5.25
bubblegum  | 475

In [15]:
cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocalate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 475

In [19]:
abc = make_array(1, 3, 5)
type(abc)

numpy.ndarray

In [ ]:
# use the with_columns method to create the table
Table().with_columns(
    'Flavor', ['strawberry', 'chocolate', 'chocalate', 'strawberry', 'chocolate', 'bubblegum'], 
    'Color', ['pink', 'light brown', 'dark brown', 'pink', 'dark brown', 'pink'], 
    'Price',[3.55, 4.75, 5.25, 5.25, 5.25, 475])

In [ ]:
10 lines/cells later

In [ ]:
Tsangyao Chen Feb 12, 2025
(I was here.)