## CH03.3.4 Tables
We want to learn how to create a table. We will go back to numpy later for array but tables give us a good sense of how data looks like.
You tasks are:
1. Modify the cones table into a cars table with 10 rows of data, e.g., 'make', ['Ford', 'Toyota'], 
    'model', ['Escape', 'Highlander'], 
    'year', ['2000', 2008], 
    'price', [7500, 5500]
2. Show that you know how to use the show(), select(), and drop() methods to manipulate this table.

In [3]:
### import the table section of the datascience module (library)
from datascience import Table ### (not necessary)
from datascience import *
from datascience.util import make_array   ### arrays; not used today

In [34]:
# use the with_columns method to create the table
Table().with_columns(
    'Flavor', ['strawberry', 'chocolate', 'chocalate', 'strawberry', 'chocolate', 'bubblegum'], 
    'Color', ['pink', 'light brown', 'dark brown', 'pink', 'dark brown', 'pink'], 
    'Price',[3.55, 4.75, 5.25, 5.25, 5.25, 475])

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocalate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 475

In [35]:
# save table to a variable
cones = Table().with_columns(
    'Flavor', ['strawberry', 'chocolate', 'chocalate', 'strawberry', 'chocolate', 'bubblegum'], 
    'Color', ['pink', 'light brown', 'dark brown', 'pink', 'dark brown', 'pink'], 
    'Price',[3.55, 4.75, 5.25, 5.25, 5.25, 475])

In [36]:
cones.show(3)

In [7]:
cones.select('Flavor')

Flavor
strawberry
chocolate
chocalate
strawberry
chocolate
bubblegum

In [8]:
cones.select('Flavor')

Flavor
strawberry
chocolate
chocalate
strawberry
chocolate
bubblegum

In [9]:
cones.select('Flavor', 'Price')

Flavor     | Price
strawberry | 3.55
chocolate  | 4.75
chocalate  | 5.25
strawberry | 5.25
chocolate  | 5.25
bubblegum  | 475

In [10]:
cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocalate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 475

In [11]:
make_array(1, 3, 5)

array([1, 3, 5])

In [12]:
cones.num_columns

3

In [15]:
cones.num_columns()

TypeError: 'int' object is not callable

In [16]:

cones.labels

('Flavor', 'Color', 'Price')

In [17]:
cones.column

<bound method Table.column of Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocalate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 475>

In [18]:
cones.sort('Flavor')

Flavor     | Color       | Price
bubblegum  | pink        | 475
chocalate  | dark brown  | 5.25
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 3.55
strawberry | pink        | 5.25

In [19]:
cones.where('Price', are.equal_to(3.55))

Flavor     | Color | Price
strawberry | pink  | 3.55

In [20]:
type(cones)

datascience.tables.Table

In [21]:
cones.num_columns()

TypeError: 'int' object is not callable

In [22]:
type("ABC")

str

In [23]:
type(123)

int

In [24]:
type(1.23)

float

In [25]:
"abc".upper

In [26]:
"ab".upper()

'AB'

In [27]:
str_a = "AAAAbbb"

In [28]:
str_a

'AAAAbbb'

In [29]:
str_a.upper()

'AAAABBB'

In [30]:
type(str_a)

str

In [31]:
cones.sort('Price')

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocalate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 475