# Homework 5: Applying Functions and Iteration

**Attention:**

1. The noteook:
    1. Use **Jupyter Notebook** as instructed. We do not have the resources to support <font color="darkred">**Anaconda** or **VS Code**</font>. 
    2. Provide your answers in the designated spaces.
    3. Do not reassign variables in the notebooks! For example, if you use `max_temperature` in your answer to one question, do not reassign it later on (e.g., as an intermediate variable). Otherwise, you will fail the tests that you thought you were passing previously!
2. Grading:
    1. Points will be scaled in Canvas.
    2. Most "tests" in this assignment test the **format and data types** of your answers, not their **correctness**. Passing **100%** of the **tests** does not mean your **grade** will be 100%.
3. Academic honor:
    1. Academic honor is important: **DO NOT CHEAT!** 
    2. <font color='darkred'>**Use AI to LEARN, not to cheat**. **DO NOT copy-n-paste**</font>: You will be competing with people who are as good as you in AI, and you will have the competitive edge when you are one of the few who know how to do things without AI. 
    3. Collaboration and using resources are encouraged, but DO NOT directly share answers. Upon typing up answers, do it yourself. 
4. Getting help:
    1. Come to the TA's help sessions and the instructor's office hours for help and clarification.
    2. Text a screenshot of your technical issue to the instructor.
    3. Emailing the instructor and the TA. (Emailing is too slow for technical problem-solving, so do not expect quick responses.)
5. <font color="darkred">**Time management**</font>: Start early in the assignment cycle and allot enough time for it.

**Reference Materials**:
- [Python Reference sp25](https://www.data8.org/sp24/reference/) or [Python Reference sp24](https://www.data8.org/sp24/reference/).
- The [Data8 datascience Reference](https://www.data8.org/datascience/tables.html) is very helpful with **syntax and examples**. For example, the [Table Functions and Methods](https://www.data8.org/datascience/reference-nb/datascience-reference.html) and [Tables](https://www.data8.org/datascience/tables.html)
- The data used in this lab will contain salary data and other statistics for basketball players from the 2014-2015 NBA season. This data was collected from the following sports analytic sites: [Basketball Reference](http://www.basketball-reference.com) and [Spotrac](http://www.spotrac.com).

**Recommended Readings**: 

* [Applying Functions](https://www.inferentialthinking.com/chapters/08/1/Applying_a_Function_to_a_Column.html)
* [Conditionals](https://www.inferentialthinking.com/chapters/09/1/Conditional_Statements.html)
* [Iteration](https://www.inferentialthinking.com/chapters/09/2/Iteration.html)
* [Simulations](https://introdsm.org/chapters/09/3/Simulation.html)

In [4]:
# Initialize Otter
import otter
grader = otter.Notebook("hw05.ipynb")

In [5]:
# Run this cell to set up the notebook, but please don't change it.

# These lines import the Numpy and Datascience modules.
import numpy as np
from datascience import *

# These lines do some fancy plotting magic.
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import warnings
warnings.simplefilter('ignore', FutureWarning)

## 1. 2023 Cal Football Season

Jonathan and Jadyn are trying to analyze how well the Cal football team performed in the 2023 season. A football game is divided into four periods, called quarters. The number of points Cal scored in each quarter and the number of points their opponent scored in each quarter are stored in a table called `cal_fb.csv`.

In [6]:
# Just run this cell
# Read in the cal_fb csv file
games = Table().read_table("cal_fb.csv")
games.show()

Let's start by finding the total points each team scored in a game.

**Question 1.** Write a function called `sum_scores`.  It should take four arguments, where each argument represents integers corresponding to the team's score for each quarter. It should return the team's total score for that game. **(2 Points)**

*Hint:* Don't overthink this question!

In [7]:
def sum_scores(score1, socre2, score3, socre4):
    '''Returns the total score calculated by adding up the score of each quarter'''
    return np.sum([score1, socre2, score3, socre4])
    
sum_scores(14, 7, 3, 0) #DO NOT CHANGE THIS LINE

24

In [8]:
grader.check("q1_1")

q1_1 results: All test cases passed!

**Question 2.** Create a new table `final_scores` with three columns in this *specific* order: `Opponent`, `Cal Score`, `Opponent Score`. You will have to create the `Cal Score` and `Opponent Score` columns. Use the function `sum_scores` you just defined in the previous question for this problem. **(5 Points)**

*Hint:* If you want to apply a function that takes in multiple arguments, you can pass multiple column names as arguments in `tbl.apply()`. The column values will be passed into the corresponding arguments of the function. Take a look at the Python Reference Sheet and Lecture 13's demo for syntax.

*Note:* If you’re running into issues creating `final_scores`, check that `cal_scores` and `opp_scores` output what you want. If you're encountering `TypeError`s, check the [Python Reference](https://www.data8.org/sp24/reference/) to see if the inputs/outputs of the function are what you expect.

In [9]:
games.apply(sum_scores, 'Cal 1Q', 'Cal 2Q', 'Cal 3Q', 'Cal 4Q')

array([58, 10, 31, 32, 24, 40, 14, 49, 19, 42, 27, 33, 14])

In [10]:
cal_scores = games.apply(sum_scores, 'Cal 1Q', 'Cal 2Q', 'Cal 3Q', 'Cal 4Q')
opp_scores = games.apply(sum_scores, 'Opp 1Q', 'Opp 2Q', 'Opp 3Q', 'Opp 4Q')
final_scores = Table().with_columns(
    'Opponent', games.column('Opponent'),
    'Cal Score', cal_scores ,
    'Opponent Score', opp_scores
    )
final_scores

# set(final_scores.labels) == set(['Opponent', 'Cal Score', 'Opponent Score'])
# set(['Opponent', 'Cal Score', 'Opponent Score'])
### {'Cal Score', 'Opponent', 'Opponent Score'}
# set(final_scores.labels)
### {'Cal Score', 'Oppenent', 'Opponent Score'}
### turns out to be a type in column name

Opponent         | Cal Score | Opponent Score
North Texas      | 58        | 21
Auburn           | 10        | 14
Idaho            | 31        | 17
Washington       | 32        | 59
Arizona State    | 24        | 21
Oregon State     | 40        | 52
Utah             | 14        | 34
USC              | 49        | 50
Oregon           | 19        | 63
Washington State | 42        | 39
... (3 rows omitted)

In [11]:
# games

In [12]:
grader.check("q1_2")

q1_2 results: All test cases passed!

We can get specific row objects from a table. You can use `tbl.row(n)` to get the `n`th row of a table. `row.item("column_name")` will allow you to select the element that corresponds to `column_name` in a particular row. Here's an example:

In [13]:
# Just run this cell
# We got the Axe!
games.row(9) # <-- this will return a row object

Row(Opponent='Washington State', Cal 1Q=14, Cal 2Q=14, Cal 3Q=0, Cal 4Q=14, Opp 1Q=7, Opp 2Q=14, Opp 3Q=3, Opp 4Q=15)

In [14]:
# Just run this cell
games.row(9).item("Cal 4Q") # <-- this will return a item (e.g. an int) from a row object

14

**Question 3.** We want to see for a particular game whether or not Cal lost. Write a function called `did_cal_lose`.  It should take one argument: a **row object** from the `final_scores` table. It should return either `True` if Cal's score was less than the Opponent's score, and `False` otherwise. **(5 Points)**

*Note 1*: "Row object" means a row from the table extracted (behind the scenes) using `tbl.row(index)` that contains all the data for that specific row. It is **not** the index of a row. Do not try and call `final_scores.row(row)` inside of the function.

*Note 2*: If you're still confused by row objects, try printing out `final_scores.row(1)` in a new cell to visually see what it looks like! This piece of code is pulling out the row object located at index 1 of the `final_scores` table and returning it. When you display it in a cell, you'll see that it is not located within a table, but is instead a standalone row object!

Hint: You can use comparators like <, >, <=, >=, ==, and != to compare items from a row object

In [15]:
# final_scores.row(1)
# final_scores.row(1).item(2)
# num = 1
# if final_scores.row(num).item(1) < final_scores.row(num+1).item(1):
#         print (True)
# print(final_scores.row(num).item(1))
# print(final_scores.row(num+1).item(1))

In [16]:
def did_cal_lose(the_row):
    # print(the_row.item(2))
    if the_row.item(1) < the_row.item(2):
        return True
    else:
        return False
        
did_cal_lose(final_scores.row(1)) #DO NOT CHANGE THIS LINE

True

In [17]:
grader.check("q1_3")

q1_3 results: All test cases passed!

**Question 4.** Jonathan and Jadyn wants to see how Cal did against every opponent during the 2023 season. Using the `final_scores` table:

1. Assign `results_array` to an array of `True` and `False` values that correspond to whether or not Cal lost.
2. Add `results_array` to the `final_scores` table in a column named `Results`, and assign this to `final_scores_with_results`.
3. Then, respectively assign the number of wins and losses Cal had to `cal_wins` and `cal_losses`.

**(10 Points)**

*Hint*: `tbl.apply()` might be helpful. Refer to the [Python Reference](https://www.data8.org/sp24/reference/) if you're unsure how it works!

In [22]:
# results_array = games.apply(did_cal_lose)
results_array = final_scores.apply(did_cal_lose)
final_scores_with_results = final_scores.with_column('Results', results_array)
cal_losses = np.count_nonzero(results_array)
cal_wins = len(results_array) - cal_losses

# Don't delete or edit the following line:
print(f"In the 2023 Season, Cal Football won {cal_wins} games and lost {cal_losses} games. Go Bears! 🐻")

In the 2023 Season, Cal Football won 6 games and lost 7 games. Go Bears! 🐻

In [19]:
grader.check("q1_4")

q1_4 results: All test cases passed!

## 2. Unrolling Loops

"Unrolling" a `for` loop means to manually write out all the code that it executes.  The result is code that does the same thing as the loop, but without the structure of the loop.  For example, for the following loop:

    for num in np.arange(3):
        print("The number is", num)

The unrolled version would look like this:

    print("The number is", 0)
    print("The number is", 1)
    print("The number is", 2)


Unrolling a `for` loop is a great way to understand what the loop is doing during each step. In this exercise, you'll practice unrolling a `for` loop.


In the question below, write code that does the same thing as the given code, but with any `for` loops unrolled.  It's a good idea to run both your answer and the original code to verify that they do the same thing.  (Of course, if the code does something random, you'll get a different random outcome than the original code!)

**Optional Question 1.** Unroll the code below.

In [20]:
for joke_iteration in np.arange(3):
    print("Knock. " * (joke_iteration + 1))
    print("Who's there?")
    print("Banana.")
    print("Banana who?")
print("Knock, knock.")
print("Who's there?")
print("Orange.")
print("Orange who?")
print("Orange you glad I didn't say banana?")

Knock.
Who's there?
Banana.
Banana who?
Knock. Knock.
Who's there?
Banana.
Banana who?
Knock. Knock. Knock.
Who's there?
Banana.
Banana who?
Knock, knock.
Who's there?
Orange.
Orange who?
Orange you glad I didn't say banana?

In [21]:
...

Ellipsis

<p>&nbsp;</p>

`Good Job! You are done with this assignment!`

## Submission

After you have completed the assignment, do the following to submit it:

1. **Save** the notebook file (File ==> Save Notebook) (or just the Save icon)
2. Go to the notebook menu, choose Kernel ==> **Restart Kernel and Run All Cells**.
3. Scrolling around to make sure everything works fine without unexpected error messages. 
4. **Save** the notebook file (File ==> Save Notebook, or use the Save icon).
5. Use the Jupyter Notebook dashboard/Homepage to create a **duplicate** of this notebook and then **rename** it from *assignment*.ipynb_**copy** (e.g., a01.ipynb_copy) to *assignment_**FIRSTNAME_LASTNAME***.ipynb (e.g., a01_TSANGYAO_CHEN.ipynb) to be graded. That way you will be able to keep your original file.
6. **Upload** your <font color="blue">*assignment_**FIRSTNAME_LASTNAME***.ipynb</font> to Canvas.