# Python Crash Course

A general review of Python programming in Jupyter Notebook.

The topics included:

1. Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
1. Comparison Operators
1. if, elif, else Statements
1. for Loops
1. while Loops
1. range()
1. list comprehension
1. functions
1. lambda expressions
1. map and filter
1. methods

## Data types

### Numbers

In [ ]:
1 + 1

In [ ]:
1 * 3

In [ ]:
1 / 2

In [ ]:
2 ** 4

In [ ]:
4 % 2

In [ ]:
5 % 2

In [ ]:
(2 + 3) * (5 + 5)

In [ ]:
2 + 2

### Variable Assignment

In [ ]:
# Can not start with number or special characters
name_of_var = 2

In [ ]:
x = 2
y = 3

In [ ]:
z = x + y

In [ ]:
z

In [ ]:
var_1 = 10; var_2 = 30

In [ ]:
var_1 + var_2

### Strings
- length

#### quoting strings

In [ ]:
'single quotes'

In [ ]:
"This is double quotes"

In [ ]:
"Let's wrap a sigle quote inside double quotes."

#### Printing strings

In [ ]:
x = 'hello'

In [ ]:
### in Jupyter Notebook, call the variable will do the same as print
x

In [ ]:
### this is a print() function
print(x) ### a print statement

In [ ]:
num = 12
name = 'Sam'

In [ ]:
### print with {variable_name} is better. Use the string .format() method
### syntax: "some_string {placeholder}".format(value)
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

In [ ]:
### although empty placeholders will work too, you will have to maintain the order of the values
print('My number is: {}, and my name is: {}'.format(num, name))

#### indexing Strings & slice notation

In [ ]:
str = "ABCDEFG"

In [ ]:
# using index
str[0] # should be "h"

In [ ]:
### using slice notation
# everying from 3 and to the end
str[1:]

In [ ]:
# everything from the beginning up to BUT NOT INCLUDING and index point
### note that it's 0, 1, 2, not including 3
str[:3]

In [ ]:
# everything in between two indicies
str[1:3]

### Python Lists/List literals
- sequence of elements separated by comma
- elements can be accessed just like strings
- update elements using append & extend function
- retrieve and update using indices and slicing notations

In [ ]:
[1,2,3]

In [ ]:
# can contain different types of data
['hi',1,[1,2]]

In [ ]:
my_list = ['a','b','c']

In [ ]:
# to ADD elements using append
my_list.append('d')

In [ ]:
# element added
my_list

In [ ]:
### How to append multiple elements to list?
my_list.append('e', 'f') ### won't work

In [ ]:
### Not working? ==> append takes ONE argument only
my_list.append(('e','f')) ### works but not what we want

In [ ]:
my_list

In [ ]:
### use the extend() function instead for appending multile elements
my_list.extend(('e','f'))

In [ ]:
my_list

#### access elements using indices like strings: indexes and slicing

In [ ]:
# using index points
my_list[0]

In [ ]:
my_list[1]

In [ ]:
my_list[1:]

In [ ]:
my_list[:3]

In [ ]:
my_list[1:3]

In [ ]:
# update an element by reassinging using index notation
my_list[0] = 'NEW'

In [ ]:
my_list

In [ ]:
### a nested list (a list inside a list)
nest = [1,2,3,[4,5,['target']]]

In [ ]:
nest[3]

In [ ]:
### access element in a nested list
### note this gives us a list

nest[3][2]

In [ ]:
### now it gives us the element, a string
nest[3][2][0]

In [ ]:
### now let's print the element:
### note the quotes are gone
print(nest[3][2][0])

   ### Dictionary
   - { curly brackets containing key:value pairs (just like hash tables)}
   - access elements using key rather than indices like in list/string
   - dictionary elements do not retain order but <font color=red>key-value mappings</font>.
   - can have different data types as value

In [ ]:
dict1 = {'key1':'item1','key2':'item2'}

In [ ]:
dict1

In [ ]:
### access value using key
dict1['key1']

In [ ]:
### ex: a list as value associated with a key in a Python dictionary
dict2 = { "key1": [1, 2, 3, 4, 5]}

In [ ]:
dict2['key1']

In [ ]:
### combining list indexing notation
dict2['key1'][0]

In [ ]:
### plus variable assignment
a_list = dict2['key1']

In [ ]:
a_list

In [ ]:
a_list[4]

In [ ]:
### NESTING: a dictionary inside a dictionary

### Booleans
- True and False

In [ ]:
True

In [ ]:
False

### Tuples 
- ( same format as list, but using parentheses )
- access elements usign lidices
- <font color=red>immutable</font>: does not access item assignments

In [ ]:
t = (1,2,3)

In [ ]:
t[0]

In [ ]:
t[0] = 'NEW'

### Sets
- { a collection of elements }
- curly brackets for enclosing like dictionary and comma-separated like list
- does not allow repetitive elements; allow only <font color=red>unique</font> elements

In [ ]:
set1 = {1,2,3}

In [ ]:
set1

In [ ]:
### elements must be unique
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

In [ ]:
### use the set function on a list
set( [ 1, 3, 5, 5, 5, 7, 9 ])

In [ ]:
### add function for set
set2 = {1, 2 ,3}

In [ ]:
set2

In [ ]:
set2.add(333)

In [ ]:
set2

In [ ]:
set2.add(333)

In [ ]:
### cannot add same value elements
set2

## Comparison Operators
- compare two elements to each other
- One = sign is variable assignment and two == comparison operation

In [ ]:
1 > 2

In [ ]:
### assign the result to a variable
boo = 3 < 5

In [ ]:
boo

In [ ]:
1 < 2

In [ ]:
1 >= 1

In [ ]:
1 <= 4

In [ ]:
1 == 1 ### equality check

In [ ]:
'hi' == 'bye'

In [ ]:
"hi" != "bye" ### inequality check

## Logic Operators
- and/or
- AND/OR <== won't work

In [ ]:
### both have to be true
(1 > 2) and (2 < 3)

In [ ]:
### only one has to be true for this statement to be true
(1 > 2) or (2 < 3)

In [ ]:
(1 == 2) or (2 == 3) or (4 == 4)

## Conditionals 
### if, elif, else Statements
- when the condition true, execute the condition block (and the block only)
- note that Python uses indentation (speace) instead of code blocks to separate code statements
- condition blocks (if and elif) cannot be empty
- first condition met terminates the conditional

In [ ]:
### note the colon
### note the indentation of second line. 
### standard syntax
if True:
    print('Yep!')

In [ ]:
if 1 < 2:
    print('yep!')

In [ ]:
if 1 < 2:
    print('first')
else:
    print('last')

In [ ]:
if 1 > 2:
    print('first')
else:
    print('last')

In [ ]:
if 1 == 2:
    print('first')
elif 3 == 3:        ### first True condition, will be executed.
    print('second')
elif 5 == 5:        ### also True, but will not be executed.
    print('third')  ### although will not be executed, cannot be left blank
else:
    print('all other conditions')

## Iteration: for Loops
- execute a block of code on every element in a object (sequence of elements)
- the sequence implies the number of times the block of code will be executed
- code executed does not have to be related to the sequence; meaning the sequence can be meaningful or simply as control
- the temporary variable name is arbitrary; common temproary variable names are i (index), num, file, ...
- begins with the <font color=red>for</font> keyword

In [ ]:
seq = [1,2,3,4,5]

In [ ]:
for item in seq:
    print(item)

In [ ]:
for item in seq:
    print('Yep')   ### the code executed is not related to the sequence except the TIME it's executed.

In [ ]:
for jelly in seq:
    print(jelly+jelly)   #### this is interesting: guess what the outcome will be?

## Iteration: while Loops
- Contrary to the for loop, continuously run a piece of code UNITL a CONDITION has been met (i.e., we don't know how many times the code will run)
- <font color=red>Kernel --> Restart</font> if you have an infinite loop

In [ ]:
i = 1     ### i == index
while i < 5:
    print('i is: {}'.format(i))    ### let's use print with the format function here.
    i = i+1     ### incrementor: without this, you will have an infinite loop because 
                ### the condition will always be true

## range() function with for loop

In [ ]:
range(5)    ### generate a range object

In [ ]:
range(0, 5) ### default beginning value is 0

In [ ]:
for i in range(5):
    print(i)

In [ ]:
for x in range (2, 5):    ### will give us 2, 3, 4. Note that it stops before 5
    print(x)

In [ ]:
list(range(10))    ### generate a list quickly

## list comprehension

In [ ]:
x = [1, 2, 3, 4]

In [ ]:
list = []
for item in x:
    list.append(item**2)    ### appending values to a list
print(list)

In [ ]:
[item**2 for item in x]     ### list comprehension; a for loop backwards
                            ### grab the for statement and put the temp var operation before it

## functions
- use the <font color=red>def</font> keyword
- to avoid writing repetitive code
- parameters (positional arguments)
- return

In [ ]:
def my_func(param1='default value'):    ### this function has a default argument/param value
    """
    Docstring goes here.
    """
    print(param1)

In [ ]:
my_func    ### execution: when you forget the parentheses, you see the Python object code

In [ ]:
my_func()    ### () for execution: we get the default value in the parameter

In [ ]:
my_func('new argument')    ### now let's pass a new argument to REPLACE the default value

In [ ]:
my_func(param1='argument 2')    ### or specifically assign value to the parameter

In [ ]:
def func1 ():    ### no parameter, not much useful
    print ('This is a function without parameter')
func1()

In [ ]:
def func2 (name):    #### generally we like it this way. The intake of params add functionality
    print('Hello, ' + name)
func2("John")

In [ ]:
def func2 (name):   
    print('Hello, ', name)    ### or this (, instead of + )
func2("John")

In [ ]:
### multiple parameters
def func3 (fname, lname):
    print('Hi, ', fname, lname)
func3('John', 'Smith')

In [ ]:
### or, we can specify the params to control the order and add clarity
### if you are specifying params, specify all.
func3(lname='Chen', fname='TY')

In [ ]:
### do all parameters have to be used? Yes
def func4 (fname, lname, attribute):
    print('Hi, ', fname, lname, 'you are', attribute, '!')

func4(fname='TY', lname='Chen', attribute='awesome')

In [ ]:
### taking out of spaces in printing variables
def func4 (fname, lname, attribute):
    print('Hi, ', fname, lname, 'you are', attribute, '!', sep="")

func4(fname='TY', lname='Chen', attribute='awesome')

#### function: return (==> save to variable)

In [ ]:
### instead of print(), return
def square(x):
    return x**2

In [ ]:
### make the function call and save the returned value to a variable
### variables are more useful
out = square(2)

In [ ]:
out

In [ ]:
print(out)

In [ ]:
### return here to see the value without assigning to variable. (not much use)
def times2(num):
    return num * 2

times2(1000)

In [ ]:
times2(9)

## documenation string

In [ ]:
def func5(num):
    """
    THIS IS A DOCUMENATION STRING, OR DOCSTRING.
    DOCSTRINGS ARE USED TO PROVIDE DOCUMENATION.
    FOR EXAMPE:
    THIS FUNCTION SQUARES A NUMBER.
    """
    return num**2

In [ ]:
func5(3)

In [ ]:
### use Shift-Tab to see the documentation
func5

In [ ]:
### now try reading the range function
range

## map() function
- run a function using the elements in the iterable argument

In [ ]:
### Here our function is times2()
def times2(var):
    return var*2

In [ ]:
times2(99)

In [ ]:
### seq is a list [  ] 
seq = [1, 2, 3, 4, 5]

- Shift + Tab to see documentation: map(func, *iterables) --> map object

In [ ]:
### instead of using a for loop to loop through the list
### we operate times2 the function on every element of the this
### run the function using the iterable as argument 
map(times2, seq)
### return the ojbect typ and memory address; not too informative

In [ ]:
### pass the result to a list function to make the object a list
list(map(times2, seq))

### the ‘list’ object is not callable error
- just restart the kernel

## lambda expressions

- AKA: anonymous function
- lambda is used so we don't have to write full independent functions. 
- Used in the Pandas library a lot.

In [ ]:
### how we turn a function to a lambda express 
### def func(var):
###     return var*2
### ==> def func(vara): return var*2 ### function in one line
### ==> var : var*2 ### remove elements
### ==> lambda var: var*2 ### add "lambda"
### lambda is just a shorthand
lambda var:var*2
### now we have a lambda express (function)

In [ ]:
### you could save the lamda expression as a variable
### but we don't usually do this because we want lamda to be straightforward. 
lam = lambda var : var * 2

In [ ]:
lam(5)

In [ ]:
### we don't need an independent function now that we have lambda (anaymous function)
### remember the syntax of map? we use lambda without a function
list(map(lambda var: var*2, seq))

## filter function
  - filter out elements from a sequence
  - the syntax is: filter (function/lambda, sequence)
  - returns a boolean on every element and show the elements with return True

In [ ]:
### lambda expressions are (ananimous) funcitons
filter(lambda var: var%2 == 0, seq)
### need to cast to a list to get back the results

In [ ]:
### cast to a list
### filter out only even numbers
### the lambda here will return a boolean value, then call into the iterable
### list() gives us the final values

list(filter(lambda var: var%2 == 0, seq))

## methods
- definition: calls to objects

#### string methods
- lower()
- upper()
- split()

In [ ]:
### Let's make a string. 
str = 'Pitt Bradford is cool.'

In [ ]:
### now let's add a DOT and hit TAB for available "methods
str.

In [ ]:
### There are so many methods. The commonly used methods are: lower, upper, split()

str.lower()
### just like functions, methods need a pair of parentheses to work

In [ ]:
str.upper()

In [ ]:
### split() will split string by " ", the default IFS

str.split()

In [ ]:
### now we change the IFS 

str.split("is")

In [ ]:
### split() for tweet message analysis: 
### e.g., a message with 3 hash tags

tweet = 'The greatest baseball player ever! #Giants #BestGameEver, ##TYisHere'

In [ ]:
### split() by #, now we got a list with 
tweet.split('#')

In [ ]:
### tweet[0] is the tweet message and tweet[0] is the first hash tag
### of course this does not give us all the hash tags, but it's something to start with
tweet.split('#')[1]

In [ ]:
### now use slicing notation to get all the hash tags; data type is list
tweet.split('#')[1:]

#### dictionary methods
- keys
- values
- items

In [ ]:
### dictionary methods
dict = { 'key1':1, 'key2':2, 'key3':3 }

In [ ]:
### now dict. and tab to show the methods avaiable for a dict object
dict.

In [ ]:
### show items
dict.items()

In [ ]:
### the keys() method will return the keys in a dictionary
dict.keys()

In [ ]:
### get the keys in the dictionary
keys = dict.keys()

In [ ]:
### the object is a dictionary containing a list
### when printed, we get the same ouput
print(keys)

In [ ]:
### if we prefer a list for the keys for further processing:
### this, of course, gives us some data information about the dictionary
list(keys)

In [ ]:
### show values
dict.values()

### list methods: pop(), append(), & insert()
- .pop() removes elements from a list
- by default, pop() removes the last item
- with indexing notation, removes items in any position
- pop() changes the list immediately
- insert() method syntax: list.insert(index, obj)
- remove() method syntax: list.remove(obj)

In [ ]:
lst = [1, 2, 3, 4, 5 ]

In [ ]:
### by default, .pop() removes the last element
lst.pop()   ### the last element, 5, is popped. The list is now 1, 2, 3, 4

In [ ]:
popped = lst.pop() ### 4 is popped

In [ ]:
print(popped)

In [ ]:
lst

In [ ]:
### how about remove the first item, or any item?
### use indexing

lst.pop(0)

In [ ]:
### now the opposite of pop() --> append()
### append, like pop, chinages the list immediately when executed
lst.append(4)
lst

In [ ]:
lst.append(5)

In [ ]:
lst.insert(0, 1)

In [ ]:
lst

In [ ]:
### now let's do remove() (list.remove(obj))
lst.remove(5)

In [ ]:
lst

In [ ]:
### the in operator to check the existence of an item in a list
'x' in [1,2,3]

In [ ]:
'x' in ['x','y','z']

## Tuple unpacking

In [ ]:
### a list that contains tuples
### list of tuples is a common data formatting in Python. Many processing would return data in such format.
x = [(1,2), (3,4), (5,6)]

In [ ]:
print(x)

In [ ]:
x

In [ ]:
x[0]

In [ ]:
 x[0][1]

In [ ]:
### Tuple unpacking: iterating through a list of tuples
### iterating (looping) through a list
for item in x:
    print (item)   ### print out the tuples

In [ ]:
### this is tuple unpacking
for (a,b) in x: ### unpacking happens here
    print(a)
    print(b)

# Done!